* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}
button {
	border: none;
	cursor: pointer;
	background: none;
	user-select: none;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	background-color: #fff;
}
.wrapper {
	width: 100%;
	max-width: 1480px;
	padding: 0 15px;
	margin: 0 auto;
}
.hero {
	background-color: #043873;
	min-height: 100svh;
	position: relative;
	z-index: 1;
	padding-bottom: 100px;
}
.hero::before {
	content: '';
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('./elem.svg');
	position: absolute;
	top: 0;
	z-index: -1;
}
@media (max-width: 1440px) {
	.hero::before {
		background-position: center 49%;
	}
}
@media (max-width: 1152px) {
	.hero::before {
		background-position: 28% 34%;
	}
}
@media (max-width: 768px) {
	.hero::before {
		background-position: 60% center;
	}
}
.header {
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__logo {
	max-width: 191px;
	min-width: 133px;
	width: 100%;
	min-height: 24px;
}
.header__logo img {
	width: 100%;
	height: 100%;
	min-height: 24px;
}
.header__nav {
	width: 100%;
	max-width: 551px;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: 55.5px;
	padding-left: 20px;
	box-sizing: initial;
	min-width: 497px;
}
@media (max-width: 1152px) {
	.header__nav {
		display: none;
	}
}
.nav {
	position: relative;
}
.nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}
.nav__item {
	position: relative;
}
.nav__link {
	text-decoration: none;
	color: #fff;
	padding: 0.5rem 0;
	display: flex;
	align-items: center;
	gap: 20px;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}
.nav__link-icon {
}
.nav__dropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0.5rem 0;
	min-width: 160px;
	z-index: 1000;
}
.nav__dropdown-item {
	padding: 0;
}
.nav__dropdown-link {
	display: block;
	padding: 0.5rem 1rem;
	color: #333;
	text-decoration: none;
	white-space: nowrap;
}
.nav__dropdown-link:hover {
	background-color: #f5f5f5;
}
@media (hover: hover) and (pointer: fine) {
	.nav__item:hover .nav__dropdown {
		display: block;
	}
}
.header__actions {
	display: flex;
}
@media (max-width: 1152px) {
	.header__actions {
		margin-left: auto;
	}
}
@media (max-width: 768px) {
	.header__logo {
		width: clamp(133px, 91.5px + 12.95vw, 191px);
	}
	.header__actions {
		display: none;
	}
}
.button {
	border-radius: 8px;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
	letter-spacing: -2%;
	transition: background-color 0.23s ease-in-out;
	white-space: nowrap;
}
.button--login {
	padding: 16px 40px;
	color: #043873;
	background-color: #ffe492;
}
.button--login:hover {
	background-color: #ffebb0;
}
.button--start {
	color: #fff;
	padding: 18.5px 24px;
	background-color: #4f9cf9;
	display: flex;
	align-items: center;
	gap: 10px;
}
.button--margin {
	margin: 0 clamp(10px, -10px + 2.6vw, 20px) 0 clamp(14px, -6px + 2.6vw, 24px);
}
.button--start:hover {
	background-color: #69adff;
}
.button--burger {
}
body:has(.button--burger.active) .header__menu {
	display: block;
}
@media (min-width: 1153px) {
	.button--burger {
		display: none;
	}
}
.header__menu {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	animation: headerMenu 0.23s ease-in-out forwards;
}
.header__menu:not(.active) {
	display: none;
}

/* Summary */
.summary {
	color: #fff;
	padding-top: 140px;
	display: flex;
}
.summary__left-part {
	width: 100%;
	min-width: 656px;
	max-width: 656px;
}
.summary__title {
	padding-top: clamp(0rem, -8.813rem + 12.24vw, 5.875rem);
	font-size: 64px;
	font-weight: 700;
	line-height: 77px;
	letter-spacing: -2%;
}
.summary__description {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
	padding: 24px 0 60px;
}
.summary__right-part {
	width: 100%;
	width: 824px;
	height: 549px;
}
.summary__banner {
	width: 100%;
	height: 100%;
}
@media (max-width: 1440px) {
	.summary {
		align-items: flex-start;
		justify-content: space-between;
	}
	.summary__left-part {
		min-width: initial;
		max-width: 562px;
	}
	.summary__right-part {
		width: 685px;
		height: 456px;
	}
}
@media (max-width: 1152px) {
	.summary {
		gap: 20px;
	}
	.summary__right-part {
		max-width: 526px;
		height: 350px;
	}
}
@media (max-width: 1100px) {
	.summary__right-part {
		min-width: 488px;
	}
}
@media (max-width: 976px) {
	.summary__right-part {
		min-width: initial;
		max-width: 488px;
	}
}
@media (max-width: 768px) {
	.summary {
		flex-direction: column;
		align-items: center;
	}
	.summary__title {
		font-size: clamp(36px, 23.1px + 4.02vw, 54px);
		line-height: clamp(44px, 29px + 4.69vw, 65px);
	}
	.summary__left-part {
		max-width: 100%;
		text-align: center;
	}
	.summary__right-part {
		padding: 0 clamp(0px, -63.2px + 19.75vw, 88.5px);
		min-width: initial;
		max-width: 100%;
	}
	.summary .button--start {
		margin: 0 auto;
		/* display: block; */
	}
}
/* Keyframes */
@keyframes headerMenu {
	from {
		transform: translateY(-111px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

/* Management */
.management {
	padding: 140px 0 100px;
	position: relative;
	z-index: 1;
}
.management::before {
	content: '';
	background-image: url(./assets/icons/management/block-vector.svg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: -180px;
	top: 190px;
	z-index: -1;
	opacity: 0.3;
}
.management__wrapper {
	display: flex;
	justify-content: space-between;
}
.management__left {
	width: 100%;
	max-width: 672px;
}
.management__title {
	position: relative;
	z-index: 1;
}
.management__title::before {
	position: absolute;
	inset: 0 auto auto 0;
	width: 100%;
	height: 100%;
	background-image: url('./assets/icons/management/title-vector.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
	content: '';
	z-index: -1;
	pointer-events: none;
}
.management__description {
	color: #212529;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
	padding: 16px 0 40px;
}
.management__right {
	width: 100%;
	max-width: 748px;
	height: 547px;
}
.management__right img {
	width: 100%;
	height: 100%;
}
@media (max-width: 1440px) {
	.management__right {
		width: 719px;
		height: 448px;
	}
}
@media (max-width: 1152px) {
	.management__right {
		width: 527.74px;
		height: 328.48px;
	}
	.management__left {
		max-width: 436px;
	}
}
@media (max-width: 768px) {
	.management__wrapper {
		gap: 60px;
		flex-direction: column;
		align-items: center;
	}
	.management__left {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.management__description {
		text-align: center;
	}
	.management::before {
		top: 80px;
		left: -400px;
	}
	.management__right {
		width: 100%;
		max-width: 561px;
		height: 349px;
	}
}
@media (max-width: 611px) {
	.management::before {
		left: 0;
		opacity: 0.1;
	}
}
/* Together */
.together {
	padding: 100px 0 140px;
}
.wrapper {
}
.together__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.together__title {
	color: #212529;
	position: relative;
}
.together__title::before {
	position: absolute;
	inset: 0 0 0 20%;
	width: 50%;
	height: 100%;
	background-image: url('./assets/icons/together/title-vector.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom left;
	content: '';
	z-index: -1;
	pointer-events: none;
}
.together__description {
	color: #212529;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
	padding: 24px 0 60px;
}
.together__left {
	width: 710px;
}
.together__left img {
	width: 100%;
	height: 100%;
}
.together__right {
	width: 100%;
	max-width: 670px;
}
@media (max-width: 1440px) {
	.together__wrapper {
		gap: clamp(33px, -395px + 37.15vw, 140px);
	}
	.together__left {
		width: 583px;
	}
}
@media (max-width: 768px) {
	.together {
		padding-top: 0;
	}
	.together__title::before {
		left: 50%;
		transform: translateX(-50%);
	}
	.together__wrapper {
		flex-direction: column;
		text-align: center;
	}
	.together__left {
		width: clamp(279px, 154px + 39.06vw, 454px);
	}
	.together--button {
		margin: 0 auto;
	}
}

/* Footer */
.footer {
	background-color: #043873;
	padding-top: 140px;
	width: 100%;
	color: #fff;
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
}
.footer__top {
	margin: 0 auto;
	max-width: 608px;
	text-align: center;
	padding-bottom: 140px;
}
.footer__title {
	font-size: 72px;
	font-weight: 700;
	line-height: 87px;
	letter-spacing: -2%;
	padding-bottom: 24px;
}
.footer__description {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: -2%;
	display: block;
}
.footer__description.second {
	padding-bottom: 40px;
}
.button--footer__top {
	margin: 0 auto;
}
.footer__sales {
	padding: 40px 0;
	display: block;
}
.footer__icons {
	display: flex;
	justify-content: center;
	gap: 40px;
}
.footer__center {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 66px;
}
.app-info {
	max-width: 240px;
}
.app-info__logo {
}
.app-info__description {
	padding-top: 15px;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
}
.footer__nav {
	width: 100%;
	max-width: 595px;
	margin-left: 65px;
	margin-right: 100px;
	display: flex;
	justify-content: space-between;
}
.footer__nav-list {
}
.footer__nav-title {
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: -2%;
	padding-bottom: 15px;
}
.footer__nav-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -2%;
}
.footer__nav-item:nth-of-type(2) {
	padding: 15px 0;
}
.footer__nav-link {
	color: currentColor;
	text-decoration: none;
	transition: color 0.23s ease-in-out, opacity 0.23s ease-in-out;
	opacity: 0.8;
}
.footer__nav-link:hover {
	color: #ffe492;
	opacity: 1;
}
.footer__today {
	width: 100%;
	max-width: 266px;
}
.footer__today-title {
	font-size: 28px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -2%;
}
.footer__today-description {
	padding: 23px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -2%;
}
.footer__bottom {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 33px 0;
	border-top: 1px solid #2e4e73;
}
.footer__bottom-left {
	width: 100%;
	display: flex;
}
.footer__bottom-select-wrapper {
	width: 100%;
	max-width: 104px;
	position: relative;
	display: flex;
}
.footer__bottom-select {
	padding: 0 6px;
	background: none;
	border: none;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -2%;
	color: currentColor;
	outline: none;
}
.footer__bottom-list {
	display: flex;
	margin-left: 60px;
	width: 100%;
	max-width: 583px;
	justify-content: space-between;
}
.footer__bottom-item {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -2%;
}
.footer__bottom-link {
	color: currentColor;
	transition: color 0.23s ease-in-out;
	transition: color 0.23s ease-in-out, opacity 0.23s ease-in-out;
	opacity: 0.8;
}
.footer__bottom-link:hover {
	color: #ffe492;
	opacity: 1;
}
.footer__bottom-right {
	display: flex;
	align-items: center;
	gap: 32px;
}
@media (max-width: 1152px) {
	.footer__nav {
		margin-left: 45px;
		margin-right: 45px;
	}
}
@media (max-width: 1044px) {
	.footer__nav {
		margin-left: 20px;
		margin-right: 20px;
	}
}
@media (max-width: 919px) {
	.footer__nav {
		min-width: 343px;
	}
	.footer__bottom-right {
		padding-left: clamp(0px, -76.2px + 9.93vw, 15px);
	}
}
@media (max-width: 768px) {
	.footer__top {
		margin: 0;
		text-align: start;
		max-width: initial;
	}
	.button--footer__top {
		margin: 0;
	}
	.footer__icons {
		justify-content: start;
		width: clamp(28px, 13.7px + 4.46vw, 48px);
	}
	.footer__icons img {
		width: 100%;
	}
	.footer__title {
		font-size: clamp(28px, 9.4px + 5.8vw, 54px);
	}
	.footer__description {
		font-size: 24px;
	}
	.footer__center {
		flex-direction: column;
	}
	.footer__nav {
		display: flex;
		flex-direction: column;
		margin: 0;
		gap: clamp(80px, 65.7px + 4.46vw, 100px);
		padding: clamp(80px, 65.7px + 4.46vw, 100px) 0;
		min-width: auto;
	}
	.app-info {
		max-width: initial;
	}
	.app-info__description {
		max-width: 510px;
	}
	.footer__today {
		max-width: 201px;
	}
	.footer__bottom {
		flex-direction: column;
		align-items: flex-start;
		border-top: none;
	}
	.footer__bottom-left {
		padding-bottom: 20px;
		border-bottom: 1px solid #2e4e73;
	}
	.footer__bottom-right {
		padding-top: 20px;
	}
	.footer__bottom-list {
		margin: 0;
	}
}
@media (max-width: 742px) {
	.footer__bottom-left {
		flex-direction: column;
	}
}
@media (max-width: 500px) {
	.footer__bottom-list {
		padding-top: 20px;
		flex-direction: column;
	}
}

/* Reusable title */
.title {
	color: #212529;
	font-size: 72px;
	font-weight: 700;
	line-height: 87px;
	letter-spacing: -2%;
}
@media (max-width: 1152px) {
	.title {
		font-size: 64px;
		line-height: 77px;
	}
}
@media (max-width: 768px) {
	.title {
		font-size: clamp(36px, 23.1px + 4.02vw, 54px);
		line-height: clamp(44px, 29px + 4.69vw, 65px);
	}
}
